body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  color: #333; /* Neutral dark gray for readability */
  background-image: url(/models/jpg.png);

  
}

.threejs-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 
}

/* Call-to-action button */
.buttons {
  background-color: #ff007f; /* Bold magenta pink */
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-right: 2rem;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  text-align: center;
  text-wrap: normal;
}

.buttons:hover {
  background-color: #ff66a3; /* Softer pink for hover */
  color: #000;
  transform: scale(1.08);
}

/* Navbar Styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:15%;
  color: #fff;
  z-index: 1000;
  padding: 16px 0;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  margin: auto;
}
.navbar-link{
  float:left ;
}
.navbar-logo{
  float: left;
  font-size: 2rem;
  font-weight: bold;
  color: #ffc118; /* Energetic yellow */
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-left: 600px;
  height: 80%;

}

.logo{
  width: 80%;
  height: 80%;
  border-color: #ffc118;
  border-width: 2px;
  border-style: solid;
  margin-top: 12px;
  
}
.navbar-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffc118; /* Energetic yellow */
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-left: 32px;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  padding: 12px 20px;
  font-weight: 600;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.navbar-links a:hover {
  background-color: #ffc118; /* Yellow for hover */
  color: #000;
}

/* Responsive Navbar */
@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links {
    flex-direction: column;
    width: 100%;
    margin-top: 12px;
  }

  .navbar-links li {
    margin-left: 0;
    margin-bottom: 12px;
  }

  .navbar-links a {
    width: 100%;
  }
}